@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
}
header, footer {
    width: auto;
    background-color: #53ba6a;
    color:black;
    margin-top: 0px;
}

#main {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}

header {
    grid-area: 1/1/2/3;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    padding-left: 10px;
}

footer {
    grid-area: 3/1/4/3;
}
h1 {
    margin-top: 0px;
}

body,html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#sidebar {
    grid-area: 2/1/2/2;
    background-color: rgb(236, 236, 236);
}

#sidebar > ul > li {
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
}

#sidebar > ul > li:hover {
    cursor: pointer;
}

ul {
    padding-left: 0;
    margin: 0;
}

.project {
    padding: 10px;
    margin: 0px;
}

.project:hover {
    background-color: rgb(197, 197, 197) ;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

#newTodoForm, #newProjectForm {
    position: fixed;
    width: 25vw;
    height: 40vh;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

#newTodoForm > button {
    width: 5vw;
    align-self: center;
    margin: 2vh;
    background-color: #53ba6a;
    border-style: solid;
    border-radius: 10px;
    border-color: #53ba6a;
    color: white;
    height: 45px;
    width: 400px;
    font-size: 2em;
    font-style: bold;
}

#newProjectForm > button {
    width: 5vw;
    align-self: center;
    margin: 2vh;
    background-color: #53ba6a;
    border-style: solid;
    border-radius: 10px;
    border-color: #53ba6a;
    color: white;
    height: 45px;
    width: 400px;
    font-size: 2em;
    font-style: bold;
}

#newTodoForm > button:hover {
    background-color: #499e5e;
    border-color: #499e5e;
}

#newTodoForm > textarea {
    resize: none;
}

.selected {
    background-color: rgb(197, 197, 197);
}

#addTodo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border-style: solid;
    background-color: #53ba6a;
    border-color: #53ba6a;
    font-size: 3em;
    color: white;
    align-self: flex-end;
    margin: 15px;
    text-align: center;
    bottom: 100px;
    right: 40px;
    position: fixed;
    box-shadow: 2px 2px 3px #999;

}

#addTodo:hover {
    cursor: pointer;
    background-color: #499e5e;
    border-color: #499e5e;
}

#newProject {
    height: 50px;
    width: 90%;
    margin: 15px;
    border-radius: 25px;
    background-color: #53ba6a;
    border-style: solid;
    border-color: #53ba6a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#newProject:hover {
    cursor: pointer;
    background-color: #499e5e;
    border-color: #499e5e;
}

.mainTodo {
    height: 20vh;
    width: auto;
    display: grid;
    flex-direction: row;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.todoTitle {
    font-size: 2em;
    grid-area: 1/2/2/3; 
}

.todoDescription {
    font-size: 1em;
    grid-area: 2/2/3/3;
}

.todoDueDate {
    font-size: 1em;
    grid-area: 3/2/4/3;
}

.todoCheckbox {
    grid-area: 2/1/3/2;
    height: 5vh;
    align-self: center;
    border: 50%;
}

.todoCheckbox:checked {
    accent-color: #53ba6a;
}